.inner_div{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 30px;
    justify-content: center;
}
/* .inner_border_div{
    border-bottom: 2px solid brown;
   
} */
.b1{
    width: 88%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  border: 1px solid black;
}

.pic_div{
    width: 60%
}
.img_div{
    margin-top: 50px;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
}
.header_text{
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.5rem;
    width: 100%;
    font-size: 26px;
    color: black;
}
.text_div{
   padding-top: 10%;
    margin-bottom: auto;
    margin-left: 40px;
    width: 300px;
}
.text{
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #707070;
    margin-bottom: 1.8rem;
}
.b2{
    width: 92%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-style: dotted;
}



.header_text2{
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.5rem;
    width: 100%;
    font-size: 26px;
    color: black;
}
.text_div2{
   padding-top: 10%;
    margin-bottom: auto;
    margin-left: 40px;
    width: 300px;
}
.text2{
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #707070;
    margin-bottom: 1.8rem;
}







/* ************************************************************ */



@media (min-width: 400px) and (max-width: 982px) {
   .pic_div{
       width: 95%;
   }
   .img_div{
       margin-left: 0px;
   }
   .text_div{
       text-align: left;
       width: 95%;
       padding-top: 50px;
   }
   .b1{
       width: 95%;
   }
   .text_div2{
    text-align: right;
    width: 95%;
    padding-top: 50px;
}
  }