.main_div_header{
    background-color: #3a2a2f;
    height: auto;
}
.text{
    color: white;
    padding-left: 2%;
    padding-top: 2%;
    font-weight: 600;
}
.text_div{
    width: 60%;
    
}
.img_div{
    height: 40px;
}
.first_header_main_div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.number_logo_div{
    display: flex;
    margin-right: 10%;
}
.number{
    color: white;
    margin-top: 5%;
    font-size: 17px;
}
.img_div{
    margin-top: 5%;
}
.scnd_header_main_div{
    padding: 1%;
    display: flex;
}
.ma_text_div{
    color: white;
    font-size: 35px;
}